<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Password Safety Vault</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-Small@2x.png</string>
		<string>Icon-Small.png</string>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-72.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.davidleistiko.passwordvault</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.6</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>PTM55F.ttf</string>
		<string>pointfree.ttf</string>
		<string>PTM75F.ttf</string>
		<string>saxmono.ttf</string>
		<string>BPMono.ttf</string>
		<string>UbuntuMono-B.ttf</string>
		<string>SourceCodePro-Bold.ttf</string>
		<string>Instruction_Italic.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>passwordVault</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.davidleistiko.passwordvault</string>
		</dict>
	</array>
</dict>
</plist>
